{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>PoPe - Portal de Pesquisas</title>
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
</head>

<body>
  <header>
    <nav style="height: 70px;">
      <div class="nav-wrapper blue darken-4" style="padding: 0 5px;">
        <a href="/login" class="brand-logo white-text center hide-on-small-and-down">
          <span> PoPe - Portal de Pesquisas</span>
        </a>
        <a href="/login" class="brand-logo white-text center hide-on-med-and-up">
          PoPe
        </a>
      </div>
    </nav>
  </header>

  <div class="container col s12 l12 m12">
    {% block main %} {% endblock %}
  </div>

  <footer class="page-footer blue darken-4">
    <div class="container">
      <div class="footer-copyright blue darken-4" style="width: 100%; height: 30px; ">
        <a class="white-text center-align" href="https://cpa-bayarea.github.io">2018 - Desenvolvido por IESB - Centro de Práticas acadêmicas BayArea</a>
      </div>
    </div>
  </footer>

</body>

<script>
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>

</html>