{% extends 'base.html' %} {% block main %}

<div class="row" style="margin-top: 10%;">
  <div class="container">
    <form method="POST" class="col s12" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="input-field row col s12">
        <input id="username" type="text" class="validate" required>
        <label for="username">Nome de Usuário</label>
      </div>

      <div class="input-field row col s12">
        <input id="password" type="password" class="validate" required>
        <label for="password">Senha</label>
      </div>

      <div class="row col s12">
        <a href="#" class="grey-text text-darken-4 right">Esqueceu a senha?</a>
      </div>

      <button class="blue darken-4 waves-effect waves-light btn col s12 row" type="submit">
        Entrar
      </button>
      <div class="row right">
        <a href="{% url 'new-user' %}" class="grey-text text-darken-4"> Novo usuário? Solicite Cadastro.</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}