{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>PoPe - Portal de Pesquisas</title>
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper blue darken-4" style="padding: 0 5px;">
        <a href="#" class="brand-logo white-text center hide-on-small-and-down">

          PoPe - Portal de Pesquisas
        </a>
        <a href="#" class="brand-logo white-text center hide-on-med-and-up">
          <span><img src="../../static/logo.png" class="img-responsive" alt="teste"></span>
          PoPe
        </a>
      </div>
    </nav>
  </header>
  <div class="container col s12" style="height: 80vh; overflow-y: auto;">
    {% block main %} {% endblock %}
  </div>
  <footer style="position: fixed; bottom: 0; width: 100%;">
    <div class="footer-copyright blue darken-4" style="width: 100%; text-align: center; height: 70px; padding-top: 15px;">
      <a class="white-text center-align" href="https://cpa-bayarea.github.io">2018 - Desenvolvido por IESB - Centro de práticas acadêmicas BayArea</a>
    </div>
  </footer>
</body>
</html>