{% extends 'base.html' %} {% block main %} {% load compress %}
<!-- Form Organization HTML -->
<div class="row center-align" style="margin-top:1%">
  <div class="col s12 m12 l12">
    <div class="card z-depth-5">
      <div class="card-content black-text">
        <span class="card-title">Cadastro de Organização</span>
        <i class="large material-icons">people</i>
        <div class="row">
          <div class="container">
            <form method="POST" class="col s12 l12" action="{% url 'new-organization' %}">
              {% csrf_token %}
              <span class="helper-text red-text col s12 l12" data-error="true">
                <span class="helper-text red-text col s12 l12">{{ form.org_name.errors}}</span>
                <span class="helper-text red-text col s12 l12" data-error="true">
                  <span class="helper-text red-text col s12 l12" data-error="true">
                    {{ form.email.errors }}
                  </span>

                  {{ form.social_reason.errors}}
                </span>
                <span class="helper-text red-text col s12 l6" data-error="true">
                  {{ form.telephone.errors}}
                </span>
                <span class="helper-text red-text col s12 l6" data-error="true" id="cep-error">
                  {{ form.cep.errors }}
                </span>

                {{ form.cnpj.errors}}
              </span>
              <span class="helper-text red-text col s12 l6" data-error="true">
                {{ form.additional_addr.errors }}
              </span>

              <div class="input-field row col s12 l7">
                <input name="org_name" id="org_name" type="text" required>
                <label for="org_name">
                  <i class="material-icons">business</i> Nome da Organização</label>
              </div>
              <div class="input-field row col s12 l5">
                <input name="cnpj" id="cnpj" type="text" required>
                <label for="cnpj">
                  <i class="material-icons">assignment</i> CNPJ</label>

              </div>
              <div class="input-field row col s12 l6">
                <input name="social_reason" id="social_reason" type="text" required>
                <label for="social_reason">
                  <i class="material-icons">group</i> Razão Social</label>
              </div>

              <div class="input-field row col s12 l6">
                <input name="telephone" type="text" id="telephone" required>
                <label for="telephone">
                  <i class="material-icons">contact_phone</i> Telefone</label>
              </div>

              <div class="input-field row col s12 l6">
                <input name="email" type="email" id="email" required>
                <label for="email">
                  <i class="material-icons">contact_mail</i> Email</label>
              </div>
              <div class="input-field row col s10 l4">
                <input name="cep" type="text" id="cep" required>
                <label for="cep">
                  <i class="material-icons">location_on</i> CEP</label>
              </div>
              <div class="input-field row col s1 l2">
                <button id="btn-cep" type="button" onclick="getLogradouro()" class="blue darken-2 waves-effect btn col">
                  <i class="material-icons">search</i>
                </button>
              </div>
              <div class="input-field row col s12 l6">
                <input name="logradouro" type="text" id="logradouro" required readonly>
                <label for="logradouro">
                  <i class="material-icons">location_on</i> Logradouro</label>
              </div>

              <div class="input-field row col s12 l6">
                <input name="additional_addr" type="text" id="additional_addr" required>
                <label for="additional_addr">
                  <i class="material-icons">location_on</i> Complemento</label>
              </div>
              <button class="blue darken-4 waves-effect waves-light btn col s12 row" type="submit">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let lastCep = '';
  function getLogradouro() {
    const btnCep = document.getElementById('btn-cep');
    const cep = document.getElementById('cep').value;
    const cepError = document.getElementById('cep-error');
    cepError.innerHTML = '';

    cep && lastCep !== cep && (btnCep.disabled = true);
    cep && lastCep !== cep && fetch(`https://viacep.com.br/ws/${cep}/json/`).then(res => res.json()).then(data => {
      btnCep.disabled = false;
      lastCep = cep;
      if (data.error) {
        cepError.innerHTML = 'CEP inválido.';
        return;
      }
      const logradouroField = document.getElementById('logradouro');
      logradouroField.value = data.logradouro;
      logradouroField.focus()
    }).catch(() => {
      lastCep = cep;
      btnCep.disabled = false;
      cepError.innerHTML = 'CEP inválido.';
    });
  }
</script> {% endblock %}